* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

main {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.top-content {
  background-color: grey;
  padding: 2cm;
  /* width: 100%;
  height: 100vh;
  align-self: baseline;
  padding: 2cm; */
}

.top-content h2 {
  color: aqua;
  font-size: 20px;
  padding-bottom: 10px;
  font-size: bold;
}

.top-content .p-top {
  font-weight: bold;
  color: blue;
  font-size: 15px;
  padding-bottom: 10px;
}

.bottom-content {
  display: flex;
}

.bottom-content .top-bottom {
  
  background-color: orangered;
  padding: 2cm;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bottom-content .second-bottom {
  background-color: rgb(15, 61, 63);
  padding: 2cm;
  font-size: smaller;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bottom-content .third-bottom {
  background-color: rgb(15, 44, 15);
  padding: 2cm;
  font-size: smaller;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}.button4 {border-radius: 30px;
  font-size: x-small;
}